@model Models.Views.TipoAnagraficaView

@{
    ViewData["Title"] = "Elimina Tipo Anagrafica";
}

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewData["Title"]</strong>
                </div>
                <div class="card-body card-block">
                    <div class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Descrizione)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Descrizione)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TipoAnagraficaId" />
                        <a asp-action="Index" class="btn btn-info"><i class="fa fa-caret-square-o-left"></i> Indietro</a>
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Elimina</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>