@model Models.Views.TipoAnagraficaView

@{
ViewData["Title"] = "Dettaglio Tipo Anagrafica";
}

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewData["Title"]</strong>
                </div>
                <div class="card-body card-block">
                    <div class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">@Html.DisplayNameFor(model => model.Descrizione)</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Descrizione)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-caret-square-o-left"></i> Indietro</a>
                    <a asp-action="Edit" asp-route-id="@Model.TipoAnagraficaId" class="btn btn-success"><i class="zmdi zmdi-edit"></i> Modifica</a>
                </div>
            </div>
        </div>
    </div>
</div>