@model Models.Views.TipoAnagraficaView

@{
    ViewData["Title"] = "Modifica Tipo Anagrafica";
}

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>
                        @ViewData["Title"]
                    </strong>
                </div>
                <div class="card-body card-block">
                    <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TipoAnagraficaId" />
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
                        <div class="card-footer">
                            <a asp-action="Index" class="btn btn-danger"><i class="fa fa-caret-square-o-left"></i>
                                Indietro</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
