@model Models.Views.AnagraficaView

@{
ViewData["Title"] = "Creazione Anagrafica";

}
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>
                        @ViewData["Title"]
                    </strong>
                </div>
                <div class="card-body card-block">
                    <form asp-action="Create" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CodiceAnagrafica" class="control-label"></label>
                            <input asp-for="CodiceAnagrafica" class="form-control-sm form-control" />
                            <span asp-validation-for="CodiceAnagrafica" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <div class="checkbox">
                                    <label for="IsAzienda" class="form-check-label ">
                                        <input asp-for="IsAzienda" class="form-check-input"> @Html.DisplayNameFor(model
                                        => model.IsAzienda)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control-sm form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cognome" class="control-label"></label>
                            <input asp-for="Cognome" class="form-control-sm form-control" />
                            <span asp-validation-for="Cognome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RagioneSociale" class="control-label"></label>
                            <input asp-for="RagioneSociale" class="form-control-sm form-control" />
                            <span asp-validation-for="RagioneSociale" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PartitaIva" class="control-label"></label>
                            <input asp-for="PartitaIva" class="form-control-sm form-control" />
                            <span asp-validation-for="PartitaIva" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodiceFiscale" class="control-label"></label>
                            <input asp-for="CodiceFiscale" class="form-control-sm form-control" />
                            <span asp-validation-for="CodiceFiscale" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TipoAnagraficaId" class="control-label"></label>
                            <select asp-for="TipoAnagraficaId" class="form-control-sm form-control" asp-items="ViewBag.TipoAnagraficaId"></select>
                        </div>
                        <!--prova form contatti-->
                        <div class="card-header">
                            <strong>Creazione contatti relativi</strong>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contatti2.Valore" class="control-label"></label>
                            <input asp-for="Contatti2.Valore" class="form-control-sm form-control"/>
                            <span validation-for="Valore" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contatti2.Note" class="control-label"></label>
                            <input asp-for="Contatti2.Note" class="form-control-sm form-control"/>
                            <span validation-for="Note" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contatti2.TipoContattoId" class="control-label"></label>
                            <select asp-for="Contatti2.TipoContattoId" class="form-control-sm form-control" asp-items="ViewBag.TipoContattoId"></select>
                        </div>
                        <!--fine-->
                        <!--prova form indirizzi-->
                        <div class="card-header">
                            <strong>Creazione indirizzi relativi</strong>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.Nazione" class="control-label">Nazione</label>
                            <input asp-for="Indirizzi2.Nazione" class="form-control-sm form-control" />
                            <span asp-validation-for="Indirizzi2.Nazione" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.Regione" class="control-label">Regione</label>
                            <input asp-for="Indirizzi2.Regione" class="form-control-sm form-control" />
                            <span asp-validation-for="Indirizzi2.Regione" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.Provincia" class="control-label">Provincia</label>
                            <input asp-for="Indirizzi2.Provincia" class="form-control-sm form-control" />
                            <span asp-validation-for="Indirizzi2.Provincia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.Citta" class="control-label">Città</label>
                            <input asp-for="Indirizzi2.Citta" class="form-control-sm form-control" />
                            <span asp-validation-for="Indirizzi2.Citta" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.Denominazione" class="control-label">Denominazione</label>
                            <input asp-for="Indirizzi2.Denominazione" class="form-control-sm form-control" />
                            <span asp-validation-for="Indirizzi2.Denominazione" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.Cap" class="control-label">CAP</label>
                            <input asp-for="Indirizzi2.Cap" class="form-control-sm form-control" />
                            <span asp-validation-for="Indirizzi2.Cap" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.Numero" class="control-label">Numero</label>
                            <input asp-for="Indirizzi2.Numero" class="form-control-sm form-control" />
                            <span asp-validation-for="Indirizzi2.Numero" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indirizzi2.TipoIndirizzoId" class="control-label"></label>
                            <select asp-for="Indirizzi2.TipoIndirizzoId" class="form-control-sm form-control" asp-items="ViewBag.TipoIndirizzoId"></select>
                        </div>
                        <!--fine-->
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-caret-square-o-left"></i> Indietro</a>
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salva</button>                
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}